version: "3.9"

services:
  db:
    image: postgres:15
    container_name: app-postgres
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./deploy/sql:/docker-entrypoint-initdb.d

volumes:
  pgdata: