name: Release Please

on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: simple
          monorepo-tags: true
          packages: |
            cmd/api
            workers/go-adapter
            workers/python-adapter